<style>
p { text-align: justify; }
</style>

<center>
<h1>About Me</h1>
<DIV style="width: 550px">
<p>I am a Computer Science student at Gonzaga University in Spokane, WA where I
was born and raised. After graduating high school I enlisted in the United
States Marine Corps where I spent the next six years as an Electrician on KC-130
aircraft. I had the oppurtunity to live in Okinawa Japan for three years and
travel to many countries in south and western Asia. It was an experience that I
will forever cherish. Upon my Honorable discharge I returned to Spokane to persue my
education. I am currently seeking employment in the Charlotte, NC area starting in 
June 2017. </p>
</DIV>
</center>
