<style>
p { text-align: justify; }
</style>


<h2>GONZAGA UNIVERSITY</h2>
<h4>B.S. Computer Science </h4>
<DIV style="width: 750px">
<p>Studying Computer Science at Gonzaga has been an amazing experience. I have
had the opputunity to learn about many topics which I find very interesting. 
I would have to say that I enjoyed working on my senior design project the most. 
It gave me the chance to work in an agile development group. We learned what it 
is like to meet deadlines (and miss them), as well as how to communicate with each 
other and the sponser of the project (This Bike Life). <br>
In addition to working on this project I studied Algorithm design and analysis, 
Theory of computation, Object-Oriented Programming, Operating Systems, and database
systems. 
</p>
</DIV>
<br>
<h2>SPOKANE FALLS COMMUNITY COLLEGE</h2>
<h4>A.A. General Studies</h4>
<DIV style="width: 750px">
<p> I started at Spokane Falls Community College shortly after returning home after
my seperation from the Marine Corps. I wasnt totally sure what I wanted to study
so I worked toward am Associates of Arts in General Studies. This allowed me to
take a diverse range of classes, one of which was a Computer Science 121. In this
class I learned the basics of programming in Java and I loved it. After the 
completion of this class I knew I wanted to pursure it further. 
</p>
</DIV>

<br>
<h2>STAFF NON-COMMISSIONED OFFICER ACADEMY</h2>

<DIV style="width: 750px">
    <p>
        I attened Sergeants Course at the Staff Non-Commissioned Officer Academy
        at Camp Butler in Okinawa Japan. According to the Marine Corps University 
        <a href="https://www.usmcu.edu/cdet/dep-sergeants-course" target="_blank">website,</a>
        "The Sergeants Course distance education program (DEP) provides students 
        with the knowledge and skills necessary to assume leadership roles of greater 
        responsibility and to successfully perform the duties of a small-unit leader
        with confidence and decisiveness. The instruction places emphasis on leadership,
        warfighting, training, and administrative and communication skills that are 
        necessary for a sergeant to function at the squad level, lead Marines in combat, 
        and mentor junior Marines.
    </p>
    </DIV>