<style>
p { text-align: justify; }
</style>

<h2>FormCycle</h2>
<DIV style="width: 550px">
<p>FormCycle is a iOS application designed to streamline bike shop maintenece 
precedures. This is accomplished my converting all paper forms into a digital 
format that can be accessed in multiple locations at one time. During the 
development of the application I worked closely with three other students from
Gonzaga University. We all shared responsibilities throughout the development 
ultimate completion of the project. Formcycle is optimized for use in iPad,
utilizing a LAMP server to handle all back-end functions. My primary responsibilities 
included front end and user interface design and implementation.
<br>
<br>
A video of how to use the application can be view <a href="https://www.youtube.com/watch?v=opkBJpGmSNs" target="_blank">here</a>.</p>
</DIV>